/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');
body{
    margin: 0; 
    font-family:  'Noto Sans', sans-serif;
    background: #201b2c;
}
body * {
    box-sizing: border-box;

}